/* articles.css */

.articles-list {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 70px;
    background-color: rgba(63, 63, 63, 0.9);
    border-radius: 10px;
}

.articles-list h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.articles-list ul {
    list-style-type: none;
    padding: 0;
}

.articles-list li {
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    margin-bottom: 10px;
}

.articles-list li a {
    text-decoration: none;
    color: #0073e6;
    font-size: 18px;
}

.articles-list li a:hover {
    text-decoration: underline;
}

.articles-list .date {
    font-size: 14px;
    color: #ffffff;
}
