/* home.css */

.intro {
    background-color: rgba(65, 65, 65, 0.95);
    margin-top: 135px;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 90%;
}

.intro h2 {
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}

/* サイト目的リストのデザイン */
.purpose-list {
    list-style-type: disc; /* 丸い箇条書きマーク */
    margin-left: 25px;
    margin-bottom: 45px;
    padding: 20px;
    max-width: 600px;
    color: #fff;
    text-align: left; /* 左揃えに設定 */
}

.purpose-list li {
    margin-bottom: 10px;
    font-size: 25px;
}

/* ブログ作者説明のデザイン */
.creater {
    list-style: none;
    padding: 20px;
    max-width: 600px;
    color: #fff;
    text-align: left;
}

.creater p {
    margin-bottom: 15px;
    font-size: 25px;
}

.creater a {
    color: #2520c8;
}

.creater a:hover {
    color: #302adb;
}